/*
* {
  outline: 1px solid #f00 !important;
} */

#root {
  width: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.build-image {
  width: 15rem;
  border: double;
  border-color: black;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5rem;
}

.build-card {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 18.75rem;
  background-color: #4c4a4b;
  border: outset;
  border-color: black;
}

#main-section {
  border: 2px solid black;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-header {
  color: black;
  width: 100%;
  font-size: 1.25;
  background-color: #06f9ff;
}

.container-header > * {
  margin-left: 10px;
  margin-right: 10px;
}

.selectors {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}

.homePage-Image {
  width: 50rem;
  position: absolute;
  top: 0%;
  right: 50%;
  transform: translate(50%, 50%);
}

.message-form {
  width: 100%;
  height: 50rem;
}

.map-canvas {
  width: 100%;
  height: 100%;
}

.full-Build-Info {
  background-color: #4c4a4b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.close-that-button {
  float: left;
}

.build-flex-container {
  display: flex;
  flex-direction: column;
}

.gallery-buttons {
  display: flex;
  gap: 14rem;
}

.build-name {
  color: white;
  font-size: 1.5rem;
  border-bottom: ridge;
  border-top: ridge;
  border-color: #06f9ff;
}

.about-me-text {
  text-align: left;
  background-color: #4c4a4b;
  font-size: 0.9rem;
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border: outset;
  border-color: black;
}

.map-api {
  height: 35rem;
  width: 35rem;
}

.flex-center-with-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.temp-brand-top {
  width: 3.5rem;
  position: absolute;
  top: 30%;
  border-radius: 50%;
  left: 48%;
}

.temp-brand-bottom {
  width: 5rem;
}

.footer {
  background-color: black;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.build-description {
  font-size: 1rem;
  text-align: left;
  font-size: 0.9rem;
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border: outset;
}

.full-build-image {
  width: 5rem;
}

* {
  font-family: monospace;
}

.hamburger-react {
  display: none;
}

.mobile-menu {
  display: none;
  z-index: 1;
}

.mobile-selectors {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.youtube {
  display: block;
  width: 45rem;
  height: 25rem;
}
.carousel-root {
  width: 45rem;
  background-color: #4c4a4b;
}

.carousel .slide {
  height: 50rem;
}

.full-build-title {
  font-size: 3rem;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.icons-section {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.about-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 130%;
  gap: 2rem;
}

.about-icons {
  text-align: center;
}

.home-page-cards {
  background-color: #4c4a4b;
  border: solid;
  border-width: thick;
  padding: 1rem;
}

.home-page-cards-container {
  display: flex;
  gap: 4rem;
  z-index: 1;
  position: absolute;
  top: 135%;
  right: 8%;
}

.home-and-about-paragraph {
  border: solid;
  border-width: thick;
  padding: 1rem;
}

.flex-center-with-map-home {
  height: 65rem;
}

.flex-center-with-map-about {
  height: 126rem;
}

.home-page-cards:hover {
  color: black;
  background-color: #00ff00;
}

.about-me-text:hover {
  color: black;
  background-color: #00ff00;
}

.hamburger-react {
  transform: translateX(-13rem);
}

.hot-toast-logo-image {
  width: 4rem;
  border-radius: 50%;
}

.hot-toast-branding {
  display: flex;
  flex-direction: column;
  align-items: center;
}
