@media (max-width: 391px) {
  .youtube-video {
    width: 20rem;
    height: 15rem;
  }
}

@media (min-width: 392px) and (max-width: 767px) {
  .youtube-video {
    width: 25rem;
    height: 15rem;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {
  .youtube-video {
    width: 35rem;
    height: 20rem;
  }
}
