@media (max-width: 391px) {
  #root {
    width: 123%;
  }
  #main-section {
    font-size: 0.5rem;
  }
  .homePage-Image {
    width: 24rem;
  }
  .container-header {
    font-size: 0.75rem;
  }

  .message-form {
    width: 99%;
  }

  .gallery-buttons {
    gap: 7rem;
    transform: translateX(1.6rem);
  }
  .close-that-button {
    transform: translate(0rem, 1rem);
  }
  .about-me-text {
    width: 90%;
  }
  .build-name {
    font-size: 2rem;
  }
  .build-card {
    width: 22rem;
  }
  .hamburger-react {
    display: block;
  }

  .mobile-menu {
    display: block;
    width: 100%;
  }

  .container-header {
    display: none;
  }

  .map-api {
    width: 20rem;
    height: 20rem;
  }
  .temp-brand-top {
    width: 6rem;
    top: 10%;
    left: 36%;
    z-index: 0;
  }

  .temp-brand-bottom {
    width: 3rem;
  }

  .youtube {
    width: 23rem;
    height: 15rem;
  }

  .carousel-root {
    width: 23.2rem;
  }
  .carousel .slide {
    height: 35rem;
  }

  .homePage-Image {
    top: 15%;
  }
  .about-me-text {
    top: 80%;
  }
  .about-flex-container {
    top: 71%;
  }
  .home-page-cards-container {
    top: 69%;
    flex-wrap: wrap;
    gap: 2rem;
    right: 2%;
    left: 2%;
  }
  .flex-center-with-map-home {
    height: 92rem;
  }

  .flex-center-with-map-about {
    height: 170rem;
  }
  .home-page-cards {
    width: 100%;
  }
  .full-build-title {
    font-size: 2rem;
  }
  .build-description {
    width: 100%;
  }
  .icons-section {
    display: none;
  }
  .react-burger {
    transform: translateX(-10.5rem);
  }
}

@media (min-width: 392px) and (max-width: 767px) {
  #root {
    width: 111%;
  }
  #main-section {
    font-size: 0.5rem;
  }

  .homePage-Image {
    width: 25rem;
  }

  .gallery-buttons {
    transform: translateX(1.58rem);
  }

  .container-header {
    font-size: 0.75rem;
  }

  .close-that-button {
    transform: translate(0rem, 1rem);
  }

  .build-name {
    font-size: 2rem;
  }
  .build-card {
    width: 25rem;
  }

  .message-form {
    width: 99%;
  }

  .hamburger-react {
    display: block;
  }

  .mobile-menu {
    display: block;
    width: 100%;
  }

  .container-header {
    display: none;
  }

  .map-api {
    width: 20rem;
    height: 20rem;
  }
  .temp-brand-top {
    width: 3rem;
    align-self: flex-end;
  }
  .temp-brand-bottom {
    width: 3rem;
  }

  .youtube {
    width: 28rem;
    height: 20rem;
  }

  .carousel-root {
    width: 28.2rem;
  }
  .carousel .slide {
    height: 30rem;
  }

  .flex-center-with-map {
    height: 150rem;
  }
  .homePage-Image {
    top: 14%;
  }
  .about-flex-container {
    top: 70%;
    gap: 5rem;
  }
  .about-me-text {
    width: 90%;
  }
  .home-page-cards-container {
    flex-wrap: wrap;
    top: 65%;
    gap: 1rem;
    right: 2%;
    left: 2%;
  }
  .flex-container-map-home {
    height: 80rem;
  }
  .home-page-cards {
    width: 100%;
  }
  .flex-center-with-map-home {
    height: 95rem;
  }
  .flex-center-with-map-about {
    height: 170rem;
  }
  .build-description {
    width: 100%;
  }

  .icons-section {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .homePage-Image {
    width: 30rem;
    top: 15%;
  }
  .home-page-cards-container {
    top: 65%;
    right: 5%;
    left: 5%;
    gap: 2rem;
  }
  .about-flex-container {
    top: 60%;
  }
  .flex-center-with-map-home {
    height: 50rem;
  }
  .flex-center-with-map-about {
    height: 150rem;
  }
  .build-description {
    width: 100%;
  }
}
