@media (max-width: 391px) {
  #root {
    width: 123%;
  }
  #main-section {
    font-size: 0.5rem;
  }
  .homePage-Image {
    width: 20rem;
  }
  .container-header {
    font-size: 0.75rem;
  }

  .message-form {
    width: 99%;
  }

  .gallery-buttons {
    gap: 7rem;
    transform: translateX(1.6rem);
  }
  .close-that-button {
    transform: translate(0rem, 1rem);
  }
  .about-me-text {
    width: 95%;
    transform: translateX(10px);
  }
  .build-name {
    font-size: 2rem;
  }
  .build-card {
    width: 22rem;
  }
  .hamburger-react {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  .container-header {
    display: none;
  }

  .map-api {
    width: 20rem;
    height: 20rem;
  }
  .temp-brand-top {
    width: 3rem;
    transform: translateX(21rem);
  }

  .temp-brand-bottom {
    width: 3rem;
  }

  .youtube {
    width: 23rem;
    height: 15rem;
    transform: translateX(1.25rem);
  }

  .carousel-root {
    width: 23rem;
    transform: translateX(0.7rem);
  }
  .carousel .slide {
    height: 35rem;
  }
}

@media (min-width: 392px) and (max-width: 767px) {
  #root {
    width: 111%;
  }
  #main-section {
    font-size: 0.5rem;
  }

  .homePage-Image {
    width: 25rem;
  }

  .gallery-buttons {
    transform: translateX(1.58rem);
  }

  .container-header {
    font-size: 0.75rem;
  }

  .close-that-button {
    transform: translate(0rem, 1rem);
  }
  .about-me-text {
    width: 95%;
    transform: translateX(10px);
  }
  .build-name {
    font-size: 2rem;
  }
  .build-card {
    width: 25rem;
  }

  .message-form {
    width: 99%;
  }

  .hamburger-react {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  .container-header {
    display: none;
  }

  .map-api {
    width: 20rem;
    height: 20rem;
  }
  .temp-brand-top {
    width: 3rem;
    transform: translateX(21rem);
  }
  .temp-brand-bottom {
    width: 3rem;
  }

  .youtube {
    width: 25rem;
    height: 15rem;
    transform: translateX(1.25rem);
  }

  .carousel-root {
    width: 25rem;
    transform: translateX(1rem);
  }
  .carousel .slide {
    height: 30rem;
  }
}
